@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html,
body {
	height: 100%;
	background-color: #f4eeee;
	font-family: "Poppins", sans-serif;
	overflow: hidden;

	#__next {
		height: 100%;
	}
}
